.wrap {
    width: 100%;
    max-width: 1920px;
    position: relative;
}

section, footer {
    width: 100%;
    position: relative;
}

.in_section {
    padding: 100px;
}

.only_mo {
    display: none;
}